@model IEnumerable<AssignmentOne_CYCC.Models.Invoice>

@{
    ViewData["Title"] = "Invoice - Index";
}

<h1>Invoices</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (ViewBag.success != "") {
    <p class="text-success">@ViewBag.success</p>
} else if (ViewBag.error != "") {
    <p class="text-danger">@ViewBag.error</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentFinalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td data-href="/InvoiceArchives/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.Student.FullName)
                    @*@ViewBag.Names[item.Id]*@
                </td>
                <td data-href="/InvoiceArchives/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.displayTerm)
                </td>
                <td data-href="/InvoiceArchives/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td data-href="/InvoiceArchives/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.TermStartDate)
                </td>
                <td data-href="/InvoiceArchives/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.PaymentFinalDate)
                </td>
                <td data-href="/InvoiceArchives/Details/@item.Id">
                    $@Html.DisplayFor(modelItem => item.TotalCost)
                </td>
                <td>
                    <div id="Buttons-@item.Id">
                        <a asp-action="Delete" asp-route-id="@item.Id"><img src="img/del.png" alt="Delete" class="row-icon"/></a>
                        <a asp-action="SendEmailConfirm" asp-route-id="@item.Id"><img src="img/email.png" alt="Send Email" class="row-icon" /></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        jQuery(document).ready(function ($) {
            $('*[data-href]').on('click', function () {
                window.location = $(this).data("href");
            });
        });
    </script>
}
