@model AssignmentOne_CYCC.Models.Instrument

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Instrument</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Family)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Family)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"><img src="~/img/edit.png" alt="Edit" class="click-icon" /></a>
    <a asp-action="Delete" asp-route-id="@Model.Id"><img src="~/img/del.png" alt="Delete" class="click-icon" /></a>
    <a asp-action="Index">Back to List</a>
</div>
