@model IEnumerable<AssignmentOne_CYCC.Models.Invoice>

@{
    ViewData["Title"] = "Invoice - Index";
}

<h1>Invoices</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (ViewBag.success != "") {
    <p class="text-success">@ViewBag.success</p>
} else if (ViewBag.error != "") {
    <p class="text-danger">@ViewBag.error</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentFinalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td data-href="/Invoices/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.Student.FullName)
                    @*@ViewBag.Names[item.Id]*@
                </td>
                <td data-href="/Invoices/Details/@item.Id">
<<<<<<< HEAD
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td data-href="/Invoices/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.Signature)
                </td>
                <td data-href="/Invoices/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.Bank)
                </td>
                <td data-href="/Invoices/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.AccountName)
                </td>
                <td data-href="/Invoices/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.AccountNo)
                </td>
                <td data-href="/Invoices/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.BSB)
                </td>
                <td data-href="/Invoices/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.displayTerm)
=======
                    @Html.DisplayFor(modelItem => item.Term)
>>>>>>> VisualWork
                </td>
                <td data-href="/Invoices/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td data-href="/Invoices/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.TermStartDate)
                </td>
                <td data-href="/Invoices/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.PaymentFinalDate)
                </td>
                <td data-href="/Invoices/Details/@item.Id">
                    $@Html.DisplayFor(modelItem => item.TotalCost)
                </td>
                <td>
                    @if (!item.InvoicePaied) {
                    <form asp-action="PayInvoice">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <input type="submit" name="Pay" value="Paid" />
                    </form>
				    }
                </td>
                <td>
                    <div id="Buttons-@item.Id">
                        <a asp-action="Edit" asp-route-id="@item.Id"><img src="img/edit.png" alt="Edit" class="row-icon"/></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><img src="img/del.png" alt="Delete" class="row-icon"/></a>
                        <a asp-action="SendEmailConfirm" asp-route-id="@item.Id" onclick="showLoading(@item.Id)"><img src="img/email.png" alt="Delete" class="row-icon" /></a>
                    </div>
                    <div id="loading-@item.Id" hidden>
                        <img src="/img/loading.gif" alt="Loading" />
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        jQuery(document).ready(function ($) {
            $('*[data-href]').on('click', function () {
                window.location = $(this).data("href");
            });
        });
        function showLoading(id) {
            $('div#buttons-' + id).hide();
            $('div#loading-' + id).show();
        }
    </script>
}
