@model IEnumerable<AssignmentOne_CYCC.Models.Invoice>

@{
    ViewData["Title"] = "Invoice - Index";
}

<h1>Invoices</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (ViewBag.success != "") {
    <p class="text-success">@ViewBag.success</p>
}
<p class="text-danger error">@(ViewBag.error ?? "")</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentFinalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td data-href="/Invoices/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.Student.FullName)
                </td>
                <td data-href="/Invoices/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.displayTerm)
                </td>
                <td data-href="/Invoices/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td data-href="/Invoices/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.TermStartDate)
                </td>
                <td data-href="/Invoices/Details/@item.Id">
                    @Html.DisplayFor(modelItem => item.PaymentFinalDate)
                </td>
                <td data-href="/Invoices/Details/@item.Id">
                    $@Html.DisplayFor(modelItem => item.TotalCost)
                </td>
                <td>
                    @if (!item.InvoicePaid) {
                    <button class="payToggle" href="#" data-id="@item.Id">Pay Invoice</button>
				    }
                </td>
                <td>
                    <div id="Buttons-@item.Id">
                        <a asp-action="Edit" asp-route-id="@item.Id"><img src="img/edit.png" alt="Edit" class="row-icon"/></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><img src="img/del.png" alt="Delete" class="row-icon"/></a>
                        <a asp-action="SendEmailConfirm" asp-route-id="@item.Id"><img src="img/email.png" alt="Send Email" class="row-icon" /></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        jQuery(document).ready(function ($) {
            $('*[data-href]').on('click', function () {
                window.location = $(this).data("href");
            });

            $('button.payToggle').on('click', function () {
                $.ajax({
                    type: "POST",
                    url: "/Invoices/PayInvoice",
                    data: 'id=' + $(this).data("id"),
                    dataType: "json"
                }).done(function (response) {
                    if (response != undefined) {
                        if (response.status != undefined && response.paid != undefined) {
                            if (response.status == "success") {
                                @*// Refreshes the page without adding to the browser history. Credit - "gianebao" at https://stackoverflow.com/questions/3715047/how-to-reload-a-page-using-javascript*@
                                window.location.replace(window.location.pathname + window.location.search + window.location.hash);
                            } else if (response.status == "error") {
                                $('.error').html(response.msg);
                            }
                        }
                    }
                }).fail(function (response) {
                    $('.error').html("An unexpected error has occurred and your request could not be completed. . Please contact your administrator if the error continues to occur.");
                });
            });
        });
    </script>
}
