@model AssignmentOne_CYCC.Models.Invoice

@{
    ViewData["Title"] = "Confirm Email";
}

<h1>Confirm Email</h1>
<br />
@*The Style attribute is used so Jquery can easily interface with it.*@
<div class="loadingGifContainer" style="display: none">
    <img src="/img/loading.gif" alt="Loading" class="loadingGif"/>
</div>
<div class="success" style="display: none"></div>
<div class="error" style="display: none"></div>

<table class="table">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Reference Number</th>
            <th>Email</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Student.FullName</td>
            <td>@Model.ReferenceNo</td>
            <td>@Model.Student.Email</td>
        </tr>
    </tbody>
</table>

<br />
<hr />

<p>Dear @Model.Student.FName,</p>
<p>@Model.Comment</p>
<p>
    Welcome to all existing students and new students. Term @((int)Model.Term) will commence @Model.TermStartDate.ToString("d, MMMM, yyyy"). Please ensure your payment is finalised by @Model.PaymentFinalDate.ToString("d, MMMM, yyyy"). If a student is no longer attending lessons, please email the CYCM to be removed off the email list.
</p>
<p>
    If paying by Bank Transfer - EFT, please forward a copy of your payment to the office, to follow up and allocate to the student.
</p>
<p>
    <b>PAYMENT DETAILS:</b>
    <br />
    <table style="text-align: left;">
        <tbody>
            <tr>
                <th>Ref#</th>
                <td>@Model.ReferenceNo</td>
            </tr>
            <tr>
                <th>Student</th>
                <td>@Model.Student.FullName</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>$@Model.TotalCost</td>
            </tr>
        </tbody>
    </table>
    <br /><br />
</p>
<p><b>Please follow this <a href="https://webpay.cdu.edu.au/musicschool/tran?tran-type=006&REFNO=@(Model.ReferenceNo)&CUSTNAME=@(Model.Student.LName)_@(Model.Student.FName)&PARENTSNAME=@(Model.Student.GuardianName)&UNITAMOUNTINCTAX=@(Model.TotalCost.ToString("0.000"))" target="_blank">link</a> to make payment for term @((int)Model.Term), @Model.Year</b></p>
<p><b>Apply for your Sport Vouchers for semester @Model.Semester, @Model.Year, please visit the <a href="https://sportvoucher.nt.gov.au/" target="_blank">sport-voucher website</a>, as schools are no longer providing students with a sport voucher.</b></p>
<p><b>Alternatively pay via Bank Transfer - EFT - CDU bank details, delete old bank details<br />New Bank details</b></p>
<table style="text-align: left;">
    <tbody>
        <tr>
            <th colspan="2">New Bank details:</th>
        </tr>
        <tr>
            <th>Bank</th>
            <td>@Model.Bank</td>
        </tr>
        <tr>
            <th>Account Name</th>
            <td>@Model.AccountName</td>
        </tr>
        <tr>
            <th>BSB Number</th>
            <td>@Model.BSB</td>
        </tr>
        <tr>
            <th>Account Number</th>
            <td>@Model.AccountNo</td>
        </tr>
        <tr>
            <th>Reference number</th>
            <td>- Please include 'CYCM, Reference number and student name'</td>
        </tr>
    </tbody>
</table>
<p><em>The CYCM is committed to providing students with quality lessons in a positive learning environment.</em></p>
<p>
    Regards,<br />
    @Model.Signature
</p>
<br />
<hr />
<br />

<a asp-controller="Invoices" asp-action="Index">Back</a> | <a href="#" id="ConfirmEmailButton" OnClick="ConfirmEmailSend">Send Email</a>

@section Scripts {
<script>
    $(document).ready(function () {
        $('#ConfirmEmailButton').click(function (e) {
            $('.loadingGifContainer').show();
            $.ajax({
                type: "POST",
                url: "/Invoices/SendEmail",
                data: 'id=@Model.Id',
                dataType: "json"
            }).done(function (response) {
                if (response != undefined) {
                    if (response.status != undefined && response.msg != undefined) {
                        if (response.status == "success") {
                            $('.loadingGifContainer').hide();
                            $('.success').show();
                            $('.success').html(response.msg);
                        } else if (response.status == "error") {
                            $('.loadingGifContainer').hide();
                            $('.error').show();
                            $('.error').html(response.msg);
                        }
                    }
                }
            }).fail(function (response) {
                $('.loadingGifContainer').hide();
                $('.error').show();
                $('.error').html("An unexpected error has occurred, and your request could not be fulfilled. Please try again later and contact your administrator if it posits.");
            });
        });
    });


    function ConfirmEmailSend () {
    }
</script>
}