@using RazorHtmlEmails.RazorClassLib.Views.Emails.InvoiceEmail
@model InvoiceEmailViewModel

@{
    ViewData["EmailTitle"] = "CYCM - Invoice";
}

<p>Dear @Model.StudentFName,</p>
<p>@Model.Comment</p>
<p>
    Welcome to all existing students and new students. Term @Model.Term will commence @Model.TermStartDate.ToString("d, MMMM, yyyy"). Please ensure your payment is finalised by @Model.PaymentFinalDate.ToString("d, MMMM, yyyy"). If a student is no longer attending lessons, please email the CYCM to be removed off the email list.
</p>
<p>
    If paying by Bank Transfer - EFT, please forward a copy of your payment to the office, to follow up aand allocate to the student.
</p>
<p>
    <b>PAYMENT DETAILS:</b>
    <br />
    <table style="text-align: left;">
        <tbody>
            <tr>
                <th>Ref#</th>
                <td>@Model.ReferenceNo</td>
            </tr>
            <tr>
                <th>Student</th>
                <td>@Model.StudentFullName</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>$@Model.TotalCost</td>
            </tr>
        </tbody>
    </table>
</p>
<p><b>Please follow this <a href="https://webpay.cdu.edu.au/musicschool/tran?tran-type=006&REFNO=@(Model.ReferenceNo)&CUSTNAME=@(Model.StudentLName)_@(Model.StudentFName)&PARENTSNAME=@(Model.StudentGuardianName)&UNITAMOUNTINCTAX=@(Model.TotalCost)" target="_blank">link</a> to make payment for term @Model.Term, @Model.Year</b></p>
<p><b>Apply for your Sport Vouchers for semester @Model.Semester, @Model.Year, please visit the <a href="https://sportvoucher.nt.gov.au/" target="_blank">sport-voucher website</a>, as schools are no longer providing students with a sport voucher.</b></p>
<p><b>Alternatively pay via Bank Transfer - EFT - CDU bank details, delete old bank details</b></p>
<table style="text-align: left;">
    <tbody>
        <tr>
            <th colspan="2">New Bank details:</th>
        </tr>
        <tr>
            <th>Bank</th>
            <td>@Model.Bank</td>
        </tr>
        <tr>
            <th>Account Name</th>
            <td>@Model.AccountName</td>
        </tr>
        <tr>
            <th>BSB Number</th>
            <td>@Model.BSB</td>
        </tr>
        <tr>
            <th>Account Number</th>
            <td>@Model.AccountNo</td>
        </tr>
        <tr>
            <th>Reference number</th>
            <td>- Please include 'CYCM, Reference number and student name'</td>
        </tr>
    </tbody>
</table>
<p>
    Regards,<br />
    @Model.Signature
</p>